
.container{width:1200px;height:3240px;background:#fff;}
/*ad*/
.ad{
	width: 100%;
	height: 110px;
	background: #333;
	text-align: center;
	color: #fff;
	overflow: hidden;
	font-weight: lighter;
	line-height: 62PX;
}
.ad ul{width: 1200px;}
.ad ul li{width: 120px;float: left;text-align: center;position:relative;}
.ad ul li:first-child{text-align: left;}
.ad ul li:last-child{text-align: right;}
.ad ul li a{ transition: all 0.3s;  color:rgba(255,255,255,1);line-height: 110px;height: 110px;display: block;}
.ad ul li a span{width: 32px;height: 2px;background: #fff; position: absolute; left:45px;top: 85px;display: block;opacity: 0;}
.ad ul li:first-child span{position: absolute;left: 15px;top: 85px;}
.ad ul li:last-child span{position: absolute;left: 75px;top: 85px;}
.show-con{height: 3070px;}
.show-rect{margin-top:80px;height:3070px;}
.show-rect ul li:nth-child(odd){margin-bottom: 44px; width: 578px;height: 578px;border: 1px solid #777777;float:left;position: relative;}
.show-rect ul li:nth-child(even){margin-bottom: 44px; width: 578px;height: 578px;border: 1px solid #777777;float:right;position: relative;}
.rectpic{width:537px;height: 394px;overflow: hidden;margin: 20px auto;}
.rectpic img{transition: all 1s; }
.rect-text1{margin-left:48px;color: #666;font-size: 24px;}
.rect-text2{margin-left:48px;color: #666;font-size: 30px;}
.rect-line{width:488px;margin-left: 48px;margin: 14px auto;height: 2px;background:#ccc;}
.rect-more{position: absolute;right: 46px;bottom:20px;color: #999;}
.show-more{ width: 102px;height: 26px;border-radius:13px;border: 1px solid #999;margin-top: 60px;}
.show-more p{text-align: center;line-height: 26px;color: #999;}
.morebg{background:#416a17;color: #fff;}



