<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangcco.employee.mapper.EmployeeMapper">
	<!-- 查询部门等级高于2的员工信息 用于前台的人才团队页面 -->
	<resultMap type="com.tangcco.employee.beans.Employee" id="little_employee_info">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="img" property="img" />
		<association property="development"
			javaType="com.tangcco.employee.beans.Development">
			<id column="did" property="id" />
			<result column="dname" property="name" />
		</association>
	</resultMap>

	<!-- 查询部门等级高于2的 前13个人 -->
	<select id="findEmployeeByLevel" resultMap="little_employee_info">
		SELECT
		e.id,e.name,e.`img`,d.`id` did,d.`name` dname
		FROM employee
		e,development d
		WHERE e.`devel_id` = d.`id`
		AND d.`level` >= 2
		AND
		e.state = 1
		ORDER BY d.`level` DESC
		LIMIT 0,13
	</select>
</mapper>