<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangcco.employee.mapper.RecruitMapper">
	<!-- 招聘信息ResultMap -->
	<resultMap type="com.tangcco.employee.beans.Recruit" id="recruit_and_devel">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="count" property="count"/>
		<result column="record" property="record" />
		<result column="experience" property="experience" />
		<result column="reqired" property="reqired"/>
		<association property="company" javaType="com.tangcco.employee.beans.Company">
			<id column="cid" property="id" />
			<result column="address" property="address" />
		</association>
	</resultMap>

	<!-- 查询招聘信息 -->
	<select id="findAllRecruit" resultMap="recruit_and_devel">
		SELECT r.id,r.`name`,r.`record`,c.`address`,r.`experience`,
		c.`id` cid,r.`count`,r.`reqired`
		FROM recruit r,company c
		WHERE  r.`comp_id` = c.`id`
		AND r.state = 1
	</select>
</mapper>